<template>
  <div>
    <div class="card" @click="open">
      <div class="card-image">
        <figure class="image">
          <img :src="image_map" alt="Pas d'image disponible" class="image-size" />
        </figure>
      </div>
      <div class="card-content has-background-dark">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 has-text-white">{{ monument.name }}</p>
            <p class="subtitle is-6 has-text-white">{{ monument.location }}</p>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      :active.sync="isComponentModalActive"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
    >
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img :src="image_map" alt="Pas d'image disponible" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ monument.name }}, {{ monument.location }}</p>
              <p class="subtitle is-6">
                <small>Built from {{monument.buildingStartDate}} to {{ monument.buildingEndDate }} by {{ monument.author }}</small>
              </p>
            </div>
          </div>
          <div class="content">{{ monument.description }}</div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Axios from 'axios';
export default {
  data: () => ({
    isComponentModalActive: false
  }),
  props: {
    monument: {}
  },
  methods: {
    open() {
      this.isComponentModalActive = true;
    },
    close() {
      this.isComponentModalActive = false;
    }
  },
  computed: {
    image_map() {
      return this.monument.image;
    }
  },
};
</script>

<style>

.image-size {
  height: 200px !important;
}
* {
  color: black;
}

.monument-title {
  font-size: 3em;
}
</style>
