<template>
  <div class="columns is-multiline">
    <div class="column is-3" v-for="monument in get_monuments" :key="monument.name">
      <monument :monument="monument" />
    </div>
    <div class="column is-12">
      <b-pagination
        :total="list.length"
        :current.sync="current"
		:per-page="perPage"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page"
		@change="changePage"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import Monument from "./Monument.vue";

export default {
  data: () => ({
	current: 1,
	perPage: 8
  }),
  props: {
    monuments: {
		default: () => ([])
	}
  },
  components: { Monument },
  computed: {
    get_monuments() {
      return this.monuments.slice(0 + 8 * (this.current-1), 8 * this.current);
	},
	list() {
		return this.monuments || [];
	}
  },
  methods: {
	  changePage(val) {
		  console.log(val)
	  }
  }
};
</script>

<style>
</style>