<template>
  <div id="app">
    <nav-menu />
    <div class="row">
      <div class="col-sm-12">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>
<style>
</style>
<script>
import NavMenu from "./nav-menu";

export default {
  components: {
    "nav-menu": NavMenu
  }
};
</script>

<style>
#mailbutton {
  background: #008000 /*#0BA3CF*/;
}
</style>
