<template>
  <div>
    <div class="columns">
      <div id="backgroundmainp" class="column is-one-quarter">
        <div style="border-bottom: 1px solid #008000;" class="pb-2">
          <h1>
            {{ country.name }}
            <img
              style="vertical-align: middle"
              :src="country.flag"
              width="100"
              height="100"
            />
          </h1>
        </div>

        <h2>Capital: {{ country.capital }}</h2>
        <h2>Area: {{ country.area }}km²</h2>
        <h2>{{ country.populationTotal }} {{ (country.demonym+'s') || 'Inhabitants'}}</h2>
        <img v-show="country.imageMap" :src="image_map" />
      </div>
      <div class="column class-column">
        <div id="backgroundright">
          <div class="columns p-3">
            <div class="column">
              <div class="columns is-multiline">
                <div class="column">
					<pagination :monuments="monuments"></pagination>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require("axios");
import Pagination from "./Country/Pagination.vue";

export default {
  data: () => ({
    country: {},
    currentPage: 0
  }),
  methods: {},
  components: {
	Pagination
  },
  mounted() {
    axios
      .get(`/api/country/show`, {
        params: {
          country: this.$route.params.country
        }
      })
      .then(r => {
        this.country = r.data;
      })
      .catch(e => {});
  },
  computed: {
    image_map() {
      return (
        "http://en.wikipedia.org/wiki/Special:FilePath/" +
        this.country.imageMap +
        "?width=300"
      );
    },
    monuments() {
      return this.country !== null ? this.country.monuments : [];
    }
  }
};
</script>

<style scoped>
#backgroundmainp {
  background-color: #363636;
  background-size: 100%;
  height: 100vh;
  padding-left: 24px;
  border-right: solid 5px #008000;
}
#backgroundmainp > * {
  color: #c8c4ba;
  width: 100%;
  text-align: center;
  font-size: 100%;
  font-family: "Pacifico", serif;
}

#backgroundmainp h1 {
  font-size: 300%;
  color: #c8c4ba;
}

#backgroundmainp h2 {
  font-size: 130%;
  color: #c8c4ba;
  padding-bottom: 15px;
  padding-top: 5px;
}

#backgroundright {
  color: #c8c4ba;
  border-top: 5px solid #008000;
}
.class-column {
  padding-left: 0;
  background-color: #f3fad8;
}
</style>


