<template>
  <div>
    <div class="main-bg" id="main-bg">
      <div class="padding-block"></div>
      <div class="logo"></div>
      <span class="main-title">Around The World</span>
      <div class="padding-block"></div>
      <a class="spin-the-globe" @click="spin">Spin the Globe</a>
    </div>
    <div class="world-map-bg">
      <div class="za-warudo-with-a-click">The World, only a click away</div>
    </div>
    <div class="background-grey pb-5">
      <div class="container">
        <div class="columns">
          <div class="column"></div>
        </div>
        <div class="columns">
          <div class="column">
            <img src="../images/France.png" />
            <span class="is-block desc-title">France</span>
            <span class="is-block desc-text">La Tour Eiffel</span>
          </div>
          <div class="column">
            <img src="../images/Inde.png" />
            <span class="is-block desc-title">Inde</span>
            <span class="is-block desc-text">Taj Mahal</span>
          </div>
          <div class="column">
            <img src="../images/Belgique.png" />
            <span class="is-block desc-title">Belgique</span>
            <span class="is-block desc-text">Atomium</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    window.addEventListener("scroll", this.onScroll);
  },
  methods: {
    onScroll(e) {
      document.getElementById("main-bg").style.backgroundPosition =
        "50% " + document.documentElement.scrollTop / 2 + "px";
    },
    spin() {
      this.$router.push({ path: `/around-the-world` });
    }
  }
};
</script>

<style>
.main-bg,
.world-map-bg,
.background-grey {
  font-family: "Playfair Display", serif;
}

.desc-text,
.desc-title {
  text-align: center;
}

.desc-title {
  font-size: 4em;
  font-weight: bold;
}

.desc-text {
	font-size: 3em;
}

.main-bg {
  background-image: url("../images/Travel-Around-the-World.jpg");
  background-position: 50% 0px;
  width: 100%;
  height: 100vh;
  transition: 0s linear;
  transition-property: background-position;
  text-align: center;
}

.za-warudo-with-a-click {
  font-size: 4em;
  line-height: 400px;
  color: #044152;
  text-align: center;
  width: 100%;
}

.background-grey {
  background-color: rgb(249, 249, 249);
}

.logo {
  margin: auto;
  background-image: url("../images/logo.png");
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}

.padding-block {
  height: 50px;
  width: 100%;
}

.main-title {
  margin: auto;
  color: white;
  font-size: 70px;
  display: block;
}

.spin-the-globe:hover {
  border: 1px solid #363636;
}

.spin-the-globe {
  margin: auto;
  padding: 8px 64px 8px 64px;
  color: #044152 !important;
  border: 1px solid white;
  border-radius: 64px;
  font-size: 40px;
}

.world-map-bg {
  min-height: 400px;
  width: 100%;
  background-image: url("../images/world-map.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#background {
  padding-top: 50px;
  height: 330px;
  width: 100%;
  background: url("../images/fond.jpg") no-repeat;
  background-size: 100%;
  background-position-y: bottom;
  border-bottom: 5px solid /*#0BA3CF*/ #008000;
}

#background2 {
  background: url("../images/Monuments.png") no-repeat;
  font-size: 50px;
  text-align: center;
  background-size: 100%;
  height: 330px;
  color: white;
}
#slogan {
  color: white;
  height: 20px;
  width: 100%;
  text-align: center;
  font-size: 150%;
  font-family: "Times New Roman", serif;
}
</style>
