﻿<template>
  <b-navbar type="is-dark" v-show="showNavbar">
    <template slot="brand">
      <img
        style="height:50px;"
        src="../images/logo.png"
        alt="Lightweight UI components for Vue.js based on Bulma"
      />
    </template>
    <template slot="start">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">Home</b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/around-the-world' }">Spin the Globe</b-navbar-item>
    </template>

    <template slot="end">
      <b-navbar-item tag="div">
        <a id="mailbutton" class="button is-primary" href="mailto:contact@artheworld.com">
          <strong>contact@artheworld.com</strong>
        </a>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
import { routes } from "../router/routes";

export default {
  data() {
    return {
      showNavbar:
        this.$route.path !== "/around-the-world" && this.$route.path !== "/"
    };
  },
  mounted() {
    window.addEventListener("mousemove", this.mouseIsMoving);
  },
  methods: {
    mouseIsMoving(event) {
      if (this.$route.path == "/around-the-world") {
        this.showNavbar = event.pageY < 70;
      } else if (this.$route.path == "/") {
      } else {
        this.showNavbar = true;
      }
    }
  }
};
</script>

<style scoped>
.slide-enter-active,
.slide-leave-active {
  transition: max-height 0.35s;
}
.slide-enter,
.slide-leave-to {
  max-height: 0px;
}

.slide-enter-to,
.slide-leave {
  max-height: 20em;
}
</style>
