<template>
    <div id="test">
        <div id="mapdiv"></div>
    </div>
</template>
<style>
    #mapdiv {
        height: 100vh;
        width: 100%;
   }
    #test {
        background-size: 100%;
        background: url("https://donyayema.info/wp-content/uploads/2019/10/The-Andromeda-Galaxy-Wallpaper-41-nasa-4k-wallpapers-on-wallpapersafari-Wallpaper-The-Galaxy-Andromeda-.jpg") no-repeat;

    }
</style>
<script>
  import 'core-js'
  import * as am4core from '@amcharts/amcharts4/core'
  import * as am4maps from '@amcharts/amcharts4/maps'
  // Importing themes
  import am4themes_animated from '@amcharts/amcharts4/themes/animated'
  import am4themes_dark from '@amcharts/amcharts4/themes/dark'

  // Importing translations
  import am4lang_lt_LT from '@amcharts/amcharts4/lang/lt_LT'

  // Importing geodata (map data)
  import am4geodata_worldLow from '@amcharts/amcharts4-geodata/worldLow'

  am4core.useTheme(am4themes_animated)
  export default {
    methods: {
      drawMap () {
        let chart = am4core.create('mapdiv', am4maps.MapChart)
        chart.geodata = am4geodata_worldLow
        chart.projection = new am4maps.projections.Orthographic()
        chart.geodata = am4geodata_worldLow

// Set projection
        chart.projection = new am4maps.projections.Orthographic()
        chart.panBehavior = 'rotateLongLat'
        chart.deltaLatitude = -20
        chart.padding(20, 20, 20, 20)

// Create map polygon series
        let polygonSeries = chart.series.push(new am4maps.MapPolygonSeries())

// Make map load polygon (like country names) data from GeoJSON
        polygonSeries.useGeodata = true

// Configure series
        let polygonTemplate = polygonSeries.mapPolygons.template
        polygonTemplate.tooltipText = '{name}'
        polygonTemplate.fill = am4core.color('#b8bbb6')
        polygonTemplate.stroke = am4core.color('#454a58')
        polygonTemplate.strokeWidth = 0.5
        polygonTemplate.events.on("hit", (ev) => {
          let country = ev.target.dataItem.dataContext.name
          this.$router.push({ path: `/countries/${country}` });
        });

        let graticuleSeries = chart.series.push(new am4maps.GraticuleSeries())
        graticuleSeries.mapLines.template.line.stroke = am4core.color('#FFFFFF')
        graticuleSeries.mapLines.template.line.strokeOpacity = 0.08
        graticuleSeries.fitExtent = false

        chart.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 0.9
        chart.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color('#365373')

// Create hover state and set alternative fill color
        let hs = polygonTemplate.states.create('hover')
        hs.properties.fill = am4core.color("#367B25");

        let animation
        setTimeout(function () {
          animation = chart.animate({ property: 'deltaLongitude', to: 100000 }, 20000000)
        }, 3000)

        chart.seriesContainer.events.on('down', function () {
          if (animation) {
            animation.stop()
          }
        })
      }
    },
    mounted () {
      this.drawMap()
    }
  }
</script>
